:root {
    --primary-color: #000000;
    --primary-color-var: #353531;
    --secondary-color: #016FB9;
    --secondary-color-var: #4D9ACE;
    --accent-color: #EC4E20;
    --accent-color-var: #FF9505;
    --font-size-mobile: 8px;
    --font-size1: 16px;
    --font-size2: 24px;
    --font-size3: 32px;
}

body {
    background-color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: var(--font-size1);
    display: flex;
    margin: none;
    padding: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--accent-color);
    font-weight: 700;
    font-size: var(--font-size3);
}

h2 {
    font-weight: 500;
    font-size: var(--font-size2);
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 900;
}

.large-block {
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    font-size: 50px;
    font-weight: 900;
}

.medium-block {
    width: 320px;
    height: 152px;
    background-color: var(--accent-color-var);
    font-size: 50px;
    font-weight: 900;
}

.small-block {
    width: 152px;
    height: 152px;
    background-color: var(--secondary-color);
    font-size: 25px;
    font-weight: 900;
}

.small-block-group {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.medium-block-group {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}