@media (max-width: 660px) {
    body {
        width: auto;
        height: auto;
        flex-direction: column;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    h1 {
        font-size: var(--font-size2);
    }

    .header {
        position: static;
        align-self: center;
    }

    .large-block-group {
        width: 320px;
        height: 656px;
        flex-direction: column;
    }
}