:root {
    --primary-color: #000000;
    --primary-color-var: #353531;
    --secondary-color: #016FB9;
    --secondary-color-var: #4D9ACE;
    --accent-color: #EC4E20;
    --accent-color-var: #FF9505;
    --font-size-mobile: 8px;
    --font-size1: 25px;
    --font-size2: 50px;
    --font-size3: 100px;
}

body {
    background-color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: var(--font-size1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: var(--accent-color);
    font-size: var(--font-size3);
    font-weight: 700;
}

h2 {
    font-weight: 500;
    font-size: var(--font-size2);
}

.header {
    position: absolute;
    align-self: flex-start;
}

@media (max-width: 640px) {
    body {
        width: auto;
        height: auto;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    h1 {
        font-size: var(--font-size2);
    }

    .header {
        position: static;
        align-self: center;
    }
}